
{# flask templates #}
<html>
    <head>
        <title> DSRIP Webpage of Things </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- above changes the width to that of the device's screen  -->
        {% assets 'css' %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
        {# {% assets 'js' %} #}
            {# <link rel="stylesheet" type="text/js" href="{{ ASSET_URL }}"/> #}
        {# {% endassets %} #}
        <!-- use one of the two formats below -->
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" integrity="sha384-XXXXXXXX" crossorigin="anonymous">

        <!-- or use this one -->
        <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        t src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><scrip -->
    </head>
    <body>

{% include 'nav.html' %}

{% block body %}

{% endblock%}

{% block otherthing %}

{% endblock %}

    </body>
</html>