{% extends "base.html" %}

{% block content %}
    <body id="page-top">

    <header>
        <div>
            <h1>Shared Drive Navigation Tool</h1>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div>
                    <h1>Shared Drive</h1>

                    <p>The shared drive, often referred to as the "G drive" has quite a complex structure due to the way in which it is organized by numerous individuals. This tool seeks to allow users to quckly setup a web page which can be used to quickly navigate to their most important folders.</p>

                    <p>Before you setup your webpage, I recommend that you first change your default browser to Explorer. This will allow you to quickly open your webpage and navigate to your favorite folders. Google's Chrome will not work with this program because the browser does not allow users to open folders on their PC via the Chrome browser. Microsoft Edge is pointless, so I will not even address it.</p>
                    
                </div>
            </div>
        </div>
    </section>    
{% endblock %}